<div class="inner cover">
  <h1 class="cover-heading">Hi, You are in my home page.</h1>
  <p class="lead">Programs are like women, no matter how much you get mad because of errors, you are always the one who is wrong. :-)</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



